.home-container {
  font-family: 'Roboto';
}

.shopnow-btn {
  background-color: #0967d2;
  border: none;
  padding: 10px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 5px;
}
.clothes-img1 {
  height: 300px;
}
.clothes-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .home-para {
    color: #64748b;
    font-weight: 20px;
  }

  .home-description {
    max-width: 600px;
  }
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .clothes-img {
    display: block;
    height: 300px;
  }
  .clothes-img1 {
    display: none;
  }
}
